{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5">
		<h1>Mon profil</h1>

		<div class="row">
			<div class="col-md-3">
				{% include 'account/_menu.html.twig'%}
			</div>
			<div class="col-md-9">
				<div class="d-flex justify-content-between">
					<h2>Mes adresses</h2>
					<a href="{{ path('app_account_address_form') }}" class="btn btn-light">Ajouter une adresse</a>


				</div>

				{% if app.user.adresses|length == 0 %}

					<p>Vous n'avez pas d'adresses enregistrées</p>
				{% else %}

					<div class="row">
						{% for address in app.user.adresses %}
							<div class="col-md-4 mt-2">

								<div class="bg-light p-2 text-center">
									<strong>{{ address.firstname }}
										{{ address.lastname }}</strong><br/>
									{{ address.address }}<br/>
									{{ address.postalCode }}<br/>
									{{ address.city }}<br/>
									{{ address.country }}<br/>
									{{ address.phone }}<br/>


									<a href="{{ path('app_account_address_form', { id : address.id } ) }}" class="small text-secondary">Éditer</a>
									<a href="{{ path('app_account_address_delete', { id : address.id } ) }}" class="small text-secondary">Supprimer</a>

								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}

			</div>

		</div>


	</div>
{% endblock %}
