{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5">
		<h1>Mon profil</h1>

		<div class="row">
			<div class="col-md-3">
				{% include 'account/_menu.html.twig'%}
			</div>
			<div class="col-md-9">
				<h2>Mes adresses</h2>

				{{ form_start(addressForm) }}
				<div class="row">
					<div class="col-md-6">{{ form_row(addressForm.firstname) }}</div>
					<div class="col-md-6">{{ form_row(addressForm.lastname) }}</div>
					<div class="col-md-6">{{ form_row(addressForm.address) }}</div>
					<div class="col-md-6">{{ form_row(addressForm.postal_code) }}</div>
					<div class="col-md-6">{{ form_row(addressForm.city) }}</div>
					<div class="col-md-6">{{ form_row(addressForm.country) }}</div>
					<div class="col-md-6">{{ form_row(addressForm.phone) }}</div>
				</div>
				{{ form_end(addressForm) }}


			</div>
		</div>


	</div>
{% endblock %}
