{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}

	<h3 class="mt-2">Commande n°{{ order.id }}</h3>
	{{ include('admin/state.html.twig', { field : { 'value' : order.state } } ) }}
	<br/>
	<br/>
	<span>Passée le :
		{{ order.createdAt|date('d/m/Y') }}</span><br/>


	<div class="row my-4">
		<div class="col-md-6">
			<strong>Adresse de livraison :</strong><br/>
			{{ order.delivery|raw }}
		</div>
		<div class="col-md-6">
			<strong>Transporteur</strong><br/>
			{{ order.carrierName }}
		</div>
	</div>
	<strong>Contenu de la commande :</strong>
	<br/>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Illustration</th>
				<th scope="col">Nom du produit</th>
				<th scope="col">Quantité</th>
				<th scope="col">Prix unitaire</th>

			</tr>
		</thead>

		{% for product in order.orderDetails %}
			<tr>
				<td>
					<img src="/uploads/{{ product.productIllustration }}" width="100px" alt="">
				</td>
				<td>{{ product.productName }}</td>
				<td>{{ product.productQuantity }}</td>
				<td>{{ product.productPrice|price }}</td>
				{% set coeff = 1 + (product.productPrice / 100) %}
			</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td>{{ order.carrierName }}</td>
			<td>1</td>
			<td>{{ order.carrierPrice|price }}</td>
		</tr>
	</tbody>
</table>


<div class="text-right fs-5">
	<strong>Total :
	</strong>
	{{ order.total| price }}<br/>

</div>{% endblock %}
